<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <propery name="APP_NAME" value="web"/>
    <propery name="LOG_PATH" value="logs"/>

    <propery name="CONSOLE_LOG_PARTTERN" value="%date | %highlight(%-5level) | %boldGreen(%t) | %boldYellow(%logger.%method:%line) | %msg%n"/>

    <propery name="LOG_PATTERN" value="%date | %-5level -| %X{traceId:-} | %X{spanId:-} | %t | %logger.%method:%line | %msg%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}${APP_NAME}.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}%d{yyyy-MM,aux}\${APP_NAME}-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <append-ref ref="console"/>
    </root>
</configuration>